/*  your css code here. If applicable */
#container {
  margin: 20px; 
  position: relative; 
  font-size: 16px; 
}

#container::before {
  content: "Before Elenet "; 
  color: #f00; 
  font-size: 20px; 
}

#container::after {
  content: "After Element"; 
  color: #f00;
  font-size: 20px; 
}